<div class="hero-section container-fluid py-5">
  <div class="row w-100">
    <div class="col-md-6 d-flex flex-column justify-content-center mb-4 mb-md-0 text-center text-md-start">
      <h1 class="display-4 fw-bold">Bounty, tu ropa de clase alta</h1>
      <p class="lead">Tenemos los mejores vendedores de ropa edicion limitada a tan solo un click!</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <%= image_tag "logo-b.svg", alt: "hero image", class: "img-fluid" %>
    </div>
  </div>
</div>
