<div class="container-fluid mt-5 px-5">
  <div class="text-center mb-4">
    <h1 class="display-4 fw-bold">Catálogo de Productos</h1>
    <p class="lead">Explora nuestra exclusiva colección de ropa y accesorios.</p>
  </div>

  <div class="row justify-content-center">
    <% @products.each do |product| %>
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4 d-flex">
        <%= render partial: 'shared/product_card', locals: { product: product } %>
      </div>
    <% end %>
  </div>
</div>
