<div class="container mt-5">
  <div class="text-center mb-4">
    <h1>Encuentra tu ropa ideal, edicion limitada.</h1>
    <p>Busca por <strong>nombre</strong>, <strong>marca</strong> y <strong>categoria</strong>.</p>
  </div>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card h-100">
          <p>Imagen</p>
          <div class="card-body d-flex flex-column text-center">
            <h5 class="card-title"><%= product.model %></h5>
            <p class="card-text"><strong>Precio: </strong> $<%= product.price %></p>
            <p class="card-text"><strong>Disponible: </strong> <%= product.available ? "Yes" : "No" %></p>
            <div>
              <%= link_to 'Ver mas', product_path(product), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
